<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="text-center">
                    <h1>Employee</h1>
                    <h5>Login</h5>
                </div>
                <form action="">
                    <div class="mb-3">
                        <label for="email" class="form-label">Username/Email</label>
                        <input type="email" class="form-control" id="" aria-describedby="emailHelp">
                        
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="" aria-describedby="emailHelp">
                    </div>

                    <button type="submit" [routerLink]="['/employee']" routerLinkActive="router-link-active"  class="btn btn-primary btn-block">LOGIN</button>
                </form>
            </div>
        </div>
    </div>
</div>