<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2 class="text-white">Employee</h2>
        <div class="d-flex">
            <button [routerLink]="['/login']" routerLinkActive="router-link-active"  class="btn btn-danger">Logout</button>
        </div>
    </div>
</nav>

<div class="mt-5">

    <div class="card-body">
        <div class="d-flex justify-content-between" >
            <div>
                <h2>Employee</h2>
            </div>
            <div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Data</button>
            </div>
        </div>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">User Name</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Birth Date</th>
                    <th scope="col">Basic Salary</th>
                    <th scope="col">Status</th>
                    <th scope="col">Group</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of allEmployeeData">
                    <td>{{data.id}}</td>
                    <td>{{data.username}}</td>
                    <td>{{data.firstName}}</td>
                    <td>{{data.lastName}}</td>
                    <td>{{data.email}}</td>
                    <td>{{data.birthDate}}</td>
                    <td>{{data.basicSalary}}</td>
                    <td>{{data.status}}</td>
                    <td>{{data.group}}</td>
                    <td>{{data.description}}</td>
                    <td>
                        <button type="button" class="btn btn-info mx-1" >Edit</button>
                        <button class="btn btn-danger mx-1" (click)="deleteData(data)">Delete</button>
                    </td>
                </tr>
            </tbody>
        
        </table>
    </div>
</div>



<!-- Button trigger modal -->
  <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <form [formGroup]="formValue">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Data</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="username" class="form-label">User Name</label>
                        <input type="text" class="form-control" formControlName="username">
                    </div>
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" formControlName="firstName">
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" formControlName="lastName">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" formControlName="email">
                    </div>
                    <div class="mb-3">
                        <label for="birthDate" class="form-label">Birth Date</label>
                        <input type="text" class="form-control" formControlName="birthDate">
                    </div>
                </div>
    
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="basicSalary" class="form-label">Basic Salary</label>
                        <input type="text" class="form-control" formControlName="basicSalary">
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        <input type="text" class="form-control" formControlName="status">
                    </div>
                    <div class="mb-3">
                        <label for="group" class="form-label">Group</label>
                        <input type="text" class="form-control" formControlName="group">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" formControlName="description">
                    </div>
                </div>
    
            </div>


              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" id="clear" >Clear</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" (click)="addData()">SAVE</button>
          <button type="submit" class="btn btn-primary" >Update</button>
        </div>
      </div>
      </form>
    </div>
  </div>
  